.card {
  display: flex;
  width: 90%;
  height: 70%;
  background-color: white;
  margin: auto;
  padding: 1rem;
  color: #2f4050;
  
  .inside {
    display: flex;
  }

  h4{
    color: #2f4050;
    font-weight: 900;
  }

}

// for store hours
.hour-info {
  width: 35%;
}
// hours table list
.td-day {
  font-weight: 900;
  padding: 10px 0;
  padding-right: 1.8rem;
  
}

.td-hour {
  cursor: pointer;
  padding: 10px 0;
  font-weight: 600;
}

.td-hour:hover {
  color: #04AA6D;
}
//end hour table section

// buttons for hour section
.edit-buttons {
  display: flex;

  button, .cancel{
    margin: 0;
    padding: 0.4rem;
  }

  button {
    color: #04AA6D;
    border: none;
    background-color: white;
  }

  .cancel {
    color: red;
  }
  //end button hour section
}


// for business info section
.b-info {
  width: 60%;

  label {
    font-weight: 700;
  }

  input {
    width: 75%;
  }

  .number-edit {
    width: auto;
  }

  // buttons for business info section
  button {
    margin-right: 10px ;

    span {
      font-size: 1.5rem;
    }

  }

  .edit, .submit, .cancel-edit {
    background-color: white;
    border: none;
  }

  .edit {
    color: orange;
  }

  .cancel-edit {
    color: red;

    span {
      font-size: 2rem;
    }
  }

  .submit {
    color: #04AA6D;

    span {
      font-size: 2rem;
    }
  }
  //end buttons for business info
}
